/*styles.css*/
:root {
  --dark-bg: #121212;
  --dark-card: #1e1e1e;
  --text-color: #e0e0e0;
  --accent-color: #bb86fc;
  --button-hover: #3700b3;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container{
    width: 90%;
    max-width: 600px;
    background-color: var(--dark-card);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header h1{
    text-align: center;
    color:var(--accent-color);
}

main{
    margin-top: 20px;
}

#question-container{
    margin-bottom: 20px;
}

#question-text{
    font-size: 1.5rem;
}

#answers button{
    display: block;
    width: 100%;
    background: var(--dark-bg);
    color: var(--text-color);
    padding: 10px;
    margin: 10px 0;
    border-radius:5px ;
    cursor: pointer;
    transition: background 0.3s ease;
}

#answers button:hover{
    background: var(--button-hover);
}

#next-button:hover{
    background-color: var(--button-hover);
}

footer{
    text-align: center;
    margin-top: 20px;
}